<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <%- include('partials/content') %>

            <h2>Sorry, but <span>
                    <%=subreddit.subreddit %>
                </span> not found! </h2>

            <%- include('partials/footer') %>